body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
}

form {
    padding: 25px 25px;
    display: block;
    text-align: center;
    background: rgb(241, 241, 241);
    max-width: 750px;
    border-radius: 15px;
    margin: 0 auto;
}

form div {
    margin: 20px;
}

input {
    margin: 5px;
    min-height: 30px;
    border: 2px solid rgb(219, 219, 219) ;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

#nbPaires{
    width: 35px;
}

#erreurs {
    color: rgb(255, 0, 0);
    padding: 15px;
    line-height: 2;
}

#jeu {
    padding: 25px 25px;
    text-align: center;
    background: rgb(241, 241, 241);
    max-width: 780px;
    border-radius: 15px;
    margin: 0 auto;
}

#chrono{
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
    background: rgb(241, 241, 241);
    width: 90px;
    margin: 0 auto 30px auto;
    border-radius: 15px;
}


div button {
    border: 0;
    background: rgb(0, 174, 255);
    border-radius: 25px;
    margin: 10px;
    box-shadow: 1px 1px 4px rgb(148, 148, 148) ;
}

img {
    height: 100px;
    padding: 10px;
    pointer-events: none;
}

.stop {
    pointer-events: none;
}

.back img {
    opacity: 0;
    transition: linear .1s;
}

.back {
    box-shadow: 1px 1px 4px rgb(148, 148, 148) ;
    transition: linear .1s;
}

.front img {
    opacity: initial;
    transition: linear .1s;    
}

.front {
    box-shadow: 4px 4px 9px rgb(148, 148, 148) ;
    transition: linear .1s;
}

.transparent {
    opacity: 25%;
    box-shadow: none;
    transition: linear .1s;    
}

.bravo, .desole {
    font-size: xx-large;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px;
}

.commencer, .rejouer {
    font-size: xx-large;
    background: rgb(0, 174, 255);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    margin: 15px auto;
    border-radius: 15px;    
    box-shadow: 3px 3px 8px rgb(148, 148, 148);
    border: 0;
}

button:hover, :after {
    cursor: pointer;
}

button:focus { 
    outline: none;
}

.commencer:active, .rejouer:active {
    box-shadow: none;
}

#fin {
    border-radius: 30px;
    padding: 25px;
    margin: auto 100px;
    text-align: center;
}